.ArtistStatement {
    background-color: var(--background-gray);
    margin: 0 auto 128px 0;
    height: auto;
    display: flex;
    align-items: center;
}

.ArtistStatement p {
    font-family: 'Tenderness';
    font-size: 14px;
    color: var(--secondary-theme-color);
    text-align: left;
    margin: 0;
    padding: 0 12px 0 12px;
    line-height: 2rem;
}

.ArtistStatement p a {
    color: var(--tertiary-theme-color);
}

@media screen and (min-width: 480px) {
    .ArtistStatement p {
        font-size: 16px;
        padding: 0 24px 0 24px;
    }
}

@media screen and (min-width: 600px) {
    .ArtistStatement {
        height: 480px;
    }
}