.Navbar {
  font-family: 'MrsMonster';
  width: 100%;
  background-color: var(--background-gray);
}

.Navbar h1 {
    color: var(--theme-color);
    letter-spacing: 0.06em;
    filter: drop-shadow(0 0.75px 3px var(--theme-color));
    font-size: 34px;
    margin: 0;
    padding-top: 20px; 
    padding-bottom: 2px;
}

.Navbar h2 {
  color: var(--secondary-theme-color);
  letter-spacing: 0.06em;
  filter: drop-shadow(0 0.75px 3px var(--secondary-theme-color));
  margin: 0;
  padding-top: 2px;
  padding-bottom: 28px; 
}

@media screen and (min-width: 1200px) {
  .Navbar h1 {
    font-size: 48px;
  }
  .Navbar h2 {
    font-size: 34px;
  }
}